.circled-number {
    display: inline-block;
    width: 1.1em;
    border: 1px solid var(--md-typeset-color);
    border-radius: 50%;
    text-align: center;
    line-height: 1em;
    font-size: .9em;
    vertical-align: baseline;
}

.lyrics {
    text-align: center;
}